@using PWEB_P6.Models
@model IEnumerable<PWEB_P6.ViewModels.UserRolesViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h1>User Roles</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var userRoles in Model)
    {
        <tr>
            <td>
                @if (userRoles.Avatar?.Length > 0)
                {
                    <img id="MyAvatar" style="max-width: 100px; max-height: 100px"
                     src="data:image/*;base64,@(Convert.ToBase64String(userRoles.Avatar))" />
                }
            </td>
            <td>@userRoles.PrimeiroNome</td>
            <td>@userRoles.UltimoNome</td>
            <td>@userRoles.UserName</td>
            <td>@string.Join(", ", userRoles.Roles.ToList())</td>
            <td>
                <a class="btn btn-primary"
                   asp-controller="UserRolesManager"
                   asp-action="Details"
                   asp-route-userId="@userRoles.UserId">Manage Roles</a>
            </td>
        </tr>
    }
    </tbody>
</table>
